version: '3.7'

services:
  boiler-test-db:
    image: mysql:8.0.35
    container_name: boiler-test-db
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: db
      MYSQL_USER: admin
      MYSQL_PASSWORD: password
    expose:
      - "3306"
    ports:
      - "3306:3306"
    volumes:
      - boiler-test-db:/var/lib/mysql

#  boiler-test-mongodb:
#    image: mongo:latest
#    container_name: boiler-test-mongodb
#    restart: always
#    environment:
#      MONGO_INITDB_DATABASE: db
#      MONGO_INITDB_ROOT_USERNAME: admin
#      MONGO_INITDB_ROOT_PASSWORD: password
#    expose:
#      - "27017"
#    ports:
#      - "27017:27017"
#    volumes:
#      - boiler-test-mongodb:/data/db

#  boiler-test-redis:
#    image: redis:latest
#    container_name: boiler-test-redis
#    restart: always
#    expose:
#      - "6379"
#    ports:
#      - "6379:6379"
#    volumes:
#      - boiler-test-redis:/data

volumes:
  boiler-test-db:
#  boiler-test-mongodb:
#  boiler-test-redis: